.column {
  background-color: #ddd;
  border-radius: 3px;
  max-height: calc(100vh - 76px);
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 250px;
  max-width: 250px;
  margin: 0 10px 0 0;
}

.add-card-img {
  width: 14px;

  img {
    width: 100%;
  }
}